.git
.github
.vscode/**
out/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
!node_modules/reveal.js
!node_modules/font-awesome
node_modules
media/*.gif
Webpack.config.js
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
